@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; } 

html {
    box-sizing: border-box;
    background-color: #d8d8d8;
    font-size: 1.25em;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
} 

*, *::before, *::after {
    box-sizing: inherit;
}

form {
    text-align: center;   
}

.title {
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    display: block;
    color: #04a076;
}

input {
    width: 75%;
    height: 20px;
    text-align: center;
    float: center;
    padding: 1em;
    border: 1px solid #4a4848;
}

button {
    background-color: #beb8b8;
    border: 2px solid #4a4848;
    padding: 1.5em 1.5em;
    color: #04a076;
    float: right;
    margin-right: 5%;
}

ul {
    list-style: none;
    color: black;
}

.done {
    text-decoration: line-through;
    color: #4a4848;
}

li {    
    padding: 2.5em 3em 0 0;
}

.x-button {
    text-align: top;
    border: 2px solid #BEB8B8;
    background-color: #4A4848;
    height: 30px;
    width: 30px;
}

.x-button:hover {
    color: #04a076;
    background-color: #4a4848;
}

.remove {
    float: right;
    overflow: hidden;
}
